//
//  Tests.xcconfig
//  WFOAuth2
//
//  Created by Conrad Kramer on 3/24/16.
//  Copyright © 2016-2017 DeskConnect, Inc. All rights reserved.
//

#include "../../../Sources/WFOAuth2/Configuration/WFOAuth2.xcconfig"

PRODUCT_NAME = Tests
INFOPLIST_FILE = Tests/WFOAuth2Tests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.deskconnect.WFOAuth2.tests
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULES = YES
OTHER_CFLAGS = -Wall -Wextra
APPLICATION_EXTENSION_API_ONLY = NO
